
body {
    background-color: #eaeaea;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
}

nav {
    background-color: #222;
    padding: 12px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

.container {
    width: 85%;
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}


.review {
    background: #f8f8f8;
    padding: 10px;
    border-left: 5px solid #555;
    margin-bottom: 15px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    margin-bottom: 15px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 18px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #555;
}


footer {
    background: #333;
    text-align: center;
    color: white;
    padding: 12px;
    margin-top: 30px;
}
