/* Container styling */
.tutorial-container {
    width: 90%;
    margin: auto;
    text-align: center;
    color: rgb(150, 138, 134);
}
/* navbar*/
nav {
    text-align: center;
    background: #333;
    padding: 12px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: yellow;
}

/* Card layout */
.card {
    width: 300px;
    display: inline-block;
    margin: 20px;
    padding: 15px;
    background: rgb(113, 109, 109);
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    vertical-align: top;
}

/* Image styling  */
.card img {
    width: 100%;
    height: 200px;      
    object-fit: cover;  
    border-radius: 10px;
}
